@import "../../styles/variables.scss";

.page-title-2 {
  margin-top: 10vh;
  color: $light;
  text-shadow: 1px 1px 2px $dark;
  font-size: 6vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dice-wrapper {
    display: flex;
    gap: 25px;
  }

  .dice {
    border: none;
  }

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;

    span {
      margin-bottom: 5px;
    }
  }

  button {
    margin-top: 10px;
    width: 75%;
    font-size: 1em;
    font-family: $Yatra;

    &:hover {
      background-color: $dark;
      color: $light-yellow;
    }
    &:active {
      background-color: $dark;
      color: $light-yellow;
    }
  }

  .resultText {
    font-size: 1.5em;
  }
}
