@import "../../styles/variables.scss";

.page-title-2 {
  margin-top: 10vh;
  color: $light;
  text-shadow: 1px 1px 2px $dark;
  font-size: 6vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;

  .dice-wrapper {
    display: flex;
    gap: 25px;
  }

  .dice {
    border: none;
  }

  p {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
    text-align: center;

    span {
      margin-bottom: 5px;
    }
  }

  button {
    margin-top: 10px;
    width: 100%;
    font-size: 1em;
    font-family: $Yatra;

    &:hover {
      background-color: $dark;
      color: $light-yellow;
    }
    &:active {
      background-color: $dark;
      color: $light-yellow;
    }
  }

  .resultText {
    font-size: 1.5em;
  }
}

@media (max-width: 1080px) {
  .page {
    margin-top: -5rem;
  }

  .container {
    margin-bottom: 3rem;
    button {
      width: 100%;
      max-height: 80%;
    }
  }
}

@media (max-width: 768px) {
  .page {
    margin-top: 4rem;
    width: 75%;
  }

  .page-title-2 {
    margin-top: 4rem;
    margin-bottom: -3rem;
  }
  .container {
    margin-top: 10vh;
    width: 90%;
    padding: 20px;
    font-size: 1em;
    height: 75%;
    display: flex;
    flex-direction: column;

    .button-div {
      display: flex;
      flex-direction: row;

    }

    .resultText {
      font-size: 14px;
    }

    .test {
      display: flex;
      flex-direction: row;
    }
    button {
      width: 100;
      max-height: 20%;
      font-size: 14px;
    }
  }

  .button-div {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }
}

@media (max-height: 500px) {

  .container {
    max-height: 150px;
    margin-bottom: 1rem;
    padding: 5px;


    .button-div {
      display: flex;
      justify-content: space-between;
    }

    button {
      width: 45%;
      max-height: 50px;
    }

  }
  
}