:root {
    --blue: #1E00E4;
    --purple: #9000E4;
    --light: #F6F4FF;
    --dark: #090046;
    --yellow: #C6E400;
    --green: #00E490;
    --red: #E40054;
    --grey: #76717B;
}

html {
    background-color: var(--dark);
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
body{
    height: 100vh;
    background: linear-gradient(
        #F6F4FF,
        #090046
    ) 0 100% no-repeat;
    background-size: 100% 50%;
}

.container {
    width: 400px;
    padding: 50px;
    border: 1px solid var(--dark);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    background-color: var(--light);
    box-shadow: 0 15px 35px rgba(50, 50, 50, 0.2);
    border-radius: 8px;
    ;
}