@import "../../styles/variables.scss";

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-div {
  text-align: center;
  margin-bottom: 20px;

  .page-title {
    color: $light;
    text-shadow: 1px 1px 2px $dark;
    font-size: 6vh;
  }
}

.container {
  width: 400px;
  padding: 50px;
  background-color: #ffffff;
  box-shadow: 0 15px 25px rgba(50, 50, 50, 0.15);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .dice {
    color: $green;
    background-color: $dark;
    height: 13vh;
    width: 13vh;
    transition: transform 0.5s ease-in-out; /* Added transition */
    /* Add any additional styles for .dice here */
  }

  .dice-wrapper {
    width: 90%;
    display: flex;
    justify-content: space-around;
    /* Add any additional styles for .dice-wrapper here */
  }

  p {
    font-size: 16px;
    margin: 30px 0;
    font-weight: 500;
    /* Add any additional styles for p here */
  }

  button {
    background-color: $purple;
    border: none;
    outline: none;
    color: $light;
    padding: 15px 0;
    width: 75%;
    font-size: 1em;
    font-family: $Yatra;
    letter-spacing: 1px;
    border-radius: 5px;
    cursor: pointer;
    /* Add any additional styles for button here */
    &:hover {
      background-color: $dark;
      color: $light-yellow;
    }
    &:active {
      background-color: $dark;
      color: $light-yellow;
    }
  }

  .shake {
    animation: shake 0.5s infinite;
  }
}

@keyframes shake {
  0% {
    transform: rotate(8deg);
  }

  50% {
    transform: rotate(-8deg);
  }

  100% {
    transform: rotate(8deg);
  }
}
