@import "./variables.scss";

html {
    background-color: var(--dark);
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

body{
    height: 100vh;
    font-family: $Yatra;
    background-color: $dark;
    background-size: 100% 50%;
}

// * {
//   box-sizing: border-box;
//   margin: 0;
// }

// body {
//   width: 100%;
//   font-family: $Poppins;
//   color: $dark;
// }

// #root {
//   height: 100%;
// }
