@import url("https://fonts.googleapis.com/css2?family=MedievalSharp&family=Poppins:wght@400;500;600;700;800&family=Yatra+One&display=swap");

$Yatra: "Yatra One", sans-serif;

// colors
$dark: #090046;
$light: #f6f4ff;
$primary: rgb(162, 162, 246);
$bg: rgb(244, 244, 255);
$blue: #1e00e4;
$dark-blue: #120089;
$light-purple: #907fff;
$purple: #9000e4;
$dark-purple: #5a008e;
$yellow: #c6e400;
$dark-yellow: #6a7a00;
$light-yellow: #f2ff9b;
$green: #00e490;
$dark-green: #007a4d;
$light-green: #94ffd8;
$red: #e40054;
$dark-red: #7c002e;
$light-red: #ffb9d3;
$grey: #76717b;

// spacing
$spacing-md: 16px;
$spacing-lg: 32px;

// border radius
$borderRadius: 12px;

// header height
$headerHeight: 100px;

@mixin breakpoint($point) {
  @if $point == md {
    // Change the minimum width from 48em (768px) to 56.25em (900px)
    @media (min-width: 68.75em) {
      @content;
    }
  }
}
